<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="style.css">
 
</head>
<body>

<div class="register-container">
  <h2>register</h2>
  <form id="registerForm" action="product.html" method="POST">

    <input type="text" name="username" placeholder="Username" required>
    
    
    <input type="email" id="email" name="email" placeholder="email" required />

    <input type="password" name="password" placeholder="Password" required>

    
    <input type="password" id="corfirmpassword" name="corfirmpassword" placeholder="corfirmpassword" required />

    <button type="submit">register</button>
  </form>
</div>
<script src="style.js"></script>
</body>
</html>
